body h1, h2{
	text-align: center;
}

navigation a{
	margin-right: 10em;
}

li{
	margin-bottom: 0.5em;
}

figure {
	float: right;
	text-align: center;
}

figcaption{
	font-size: 10pt;
}

img{
	max-width:50%;
}

xmp{
	background: lightgray;
	tab-size: 1em;
	max-width: 60%;
}